<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_PROFILE_AND_DEVICE_OWNERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RESET_PASSWORD"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.sec.MDM_KIOSK_MODE" android:protectionLevel="signature"/>
    <!-- <uses-permission android:name="com.sec.enterprise.knox.cloudmdm.smdms.permission.SAMSUNG_MDM_SERVICE"/>
    <uses-permission android:name="com.sec.enterprise.knox.cloudmdm.smdms.provider.permission.READ"/> -->
    <uses-permission android:name="android.permission.sec.MDM_REMOTE_CONTROL" android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_REMOTE_CONTROL" android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_DEVICE_ADMIN" />


    <!-- Optional: Declare hardware features -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <!-- <uses-sdk
        android:minSdkVersion="33"
        android:targetSdkVersion="35"
        tools:overrideLibrary="com.scooterautomation.androidmdmlib" /> -->
    <!-- android:icon="@mipmap/ic_launcher" -->
    <!-- android:theme="@style/AppTheme"> -->
    <application
        android:allowBackup="true"
        android:label="SA MDM"
        android:supportsRtl="true">

    <!-- Device Admin Receiver -->
        <receiver
            android:name=".SADeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.PASSWORD_CHANGED" />
                <action android:name="android.app.action.PASSWORD_FAILED" />
                <action android:name="android.app.action.PASSWORD_EXPIRING" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
                <action android:name="android.app.action.LOCK_TASK_ENTERING" />
                <action android:name="android.app.action.LOCK_TASK_EXITING" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".SABootReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="950">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>


        <activity
        android:name=".SALockOrientationActivity"
        android:exported="false"
        android:screenOrientation="unspecified"
        tools:ignore="DiscouragedApi" />
        <!-- Provisioning Receiver -->
        <!-- <receiver
            android:name=".ProvisioningReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.PROVISION_MANAGED_DEVICE" />
            </intent-filter>
        </receiver> -->
        <!-- Provisioning Activity -->
        <!-- <service
            android:name=".SAServiceCheckWorker"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" /> -->

        <activity
            android:name=".SAPermissionActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SAProvisioningActivity"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SAAdminPolicyComplianceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Policy Enforcement Service -->
        <service
            android:name=".SAPolicyEnforcementService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
        <!-- android:foregroundServiceType="dataSync"/> -->
        <!--android:permission="com.scooterautomation.androidmdmlib.PERMISSION" />  Optional security -->

        <service
            android:name=".SAWakeLockService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <service
            android:name=".SANotificationListenerService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".SAKioskLauncherActivity" android:exported="false" />
        <activity android:name=".SAKioskExitActivity" android:exported="false" />
    </application>
    <!-- Optional: Custom permission for service security
    <permission
    android:name="com.scooterautomation.androidmdmlib.PERMISSION"
    android:protectionLevel="signature" /> -->
</manifest>